@page "/"
@using QuantumTask.Data
@inject EFNoteRepository noteRepository

<nav class="navbar navbar-light bg-light row">
    <button class="btn btn-primary col-2" type="submit" @onclick="ShowEditForm">New Note</button>
    <form class="input-group col-md-8">
        <input class="form-control" type="text" placeholder="Search" @bind-value="SearchTerm" @bind-value:event="oninput" />
    </form>
    <label class="text-body col-2">Total notes: @TotalNotes</label>
</nav>

@if (edit)
{
    <EditForm Model="note" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <div class="card row">
            <div class="card-header">
                <InputText class="form-control" @bind-Value="note.Title" />
            </div>
            <div class="card-body">
                <div class="input-group">
                    <InputTextArea class="form-control" @bind-Value="note.NoteText" />
                </div>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary col-md-2">Create a new note</button>
            </div>
        </div>
        <br />
    </EditForm>
}

@if (Notes is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var note in Notes)
    {
        @if (note.Id == editId)
        {
            <ItemComponent Title="@note.Title" Day="@(DateTime.Now.Day - note.Created.Day)">
                <ButtonFragment>
                    <input type="submit" class="btn btn-primary" @onclick="() => ShowEditor(note.Id)" value="Hide note" />
                    <button class="btn btn-warning" @onclick="() => Edit(note)">Edit note</button>
                </ButtonFragment>
                <NoteTextFragment>
                    <textarea class="form-control" @bind="@note.NoteText"></textarea>
                </NoteTextFragment>
            </ItemComponent>
        }
        else
        {
            <ItemComponent Title="@note.Title" Day="@(DateTime.Now.Day - note.Created.Day)">
                <ButtonFragment>
                    <input type="submit" class="btn btn-primary" @onclick="() => ShowEditor(note.Id)" value="View note" />
                    <button class="btn btn-secondary">Edit note</button>
                </ButtonFragment>
            </ItemComponent>
        }
    }
}